/* You can add global styles to this file, and also import other style files */
@import '@fortawesome/fontawesome-free/css/all.css';
@import 'mdb-angular-ui-kit/assets/scss/mdb.scss';

.centralizar {

    text-align: center;
    position: relative;
}

.direita {

    text-align: right;
    position: relative;
}

body {

    background-color: rgb(167, 159, 149);
}
